In [1]:
import pickle
import pandas as pd
import numpy as np
import datetime  
import pickle
from math import floor
from sklearn.linear_model import LinearRegression, LogisticRegression, SGDRegressor, Lasso, Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sqlalchemy import create_engine
from sqlalchemy import text
import csv

Inserting data base information and connecting to it

In [2]:
URI = "dbbikes2.cytgvbje9wgu.us-east-1.rds.amazonaws.com"
PORT = "3306"
DB = "dbbikes2"
USER = "admin"
PASSWORD = "DublinBikes1"

engine = create_engine("mysql://{}:{}@{}:{}/{}".format(USER, PASSWORD, URI, PORT, DB), echo=True)

Want to get features to compare in train_test split, I will use datetime to try predict availability first

In [3]:

# Get the data
availability_data = engine.execute("SELECT * FROM availability2;")

# Create CSV file
filename = "bike_data.csv"

# Open the CSV file in write mode
with open(filename, mode='w', newline='') as file:

    # Create a CSV writer object
    writer = csv.writer(file)

    # Write the header row (optional)
    writer.writerow(['number', 'available_bikes', 'available_bike_stands', 'status', 'datetime'])

    # Write the data rows
    for row in availability_data:
        writer.writerow(row)

2023-04-19 23:37:37,576 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-04-19 23:37:37,578 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-19 23:37:37,777 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-04-19 23:37:37,778 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-19 23:37:37,881 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-04-19 23:37:37,883 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-19 23:37:38,091 INFO sqlalchemy.engine.Engine SELECT * FROM availability2;
2023-04-19 23:37:38,093 INFO sqlalchemy.engine.Engine [raw sql] ()

In [4]:
dfa = pd.read_csv('bike_data.csv')
dfa.head()

   number  available_bikes  available_bike_stands status    datetime
0      42                8                     22   OPEN  1677760001
1      30                2                     18   OPEN  1677760001
2      54               14                     18   OPEN  1677760001
3     108               18                     17   OPEN  1677760001
4      20               22                      8   OPEN  1677760001

In [5]:

# Get the data
weather_data = engine.execute("SELECT * FROM weather2;")

# Create CSV file
filename = "weather_data.csv"

# Open the CSV file in write mode
with open(filename, mode='w', newline='') as file:

    # Create a CSV writer object
    writer = csv.writer(file)

    # Write the header row (optional)
    writer.writerow(['main', 'description', 'temp', 'visibility', 'wind_speed', 'wind_direction', 'clouds', 'datetime'])

    # Write the data rows
    for row in weather_data:
        writer.writerow(row)

2023-04-19 23:37:42,978 INFO sqlalchemy.engine.Engine SELECT * FROM weather2;
2023-04-19 23:37:42,979 INFO sqlalchemy.engine.Engine [raw sql] ()

In [6]:
dfw = pd.read_csv('weather_data.csv')
dfw.head()

,main,description,temp,visibility,wind_speed,wind_direction,clouds,datetime
0,Clouds,broken clouds,280.72,10000.0,4.12,70.0,75.0,1677760002
1,Clouds,broken clouds,280.72,10000.0,4.12,70.0,75.0,1677760064
2,Clouds,broken clouds,280.72,10000.0,4.12,70.0,75.0,1677760366
3,Clouds,broken clouds,280.95,10000.0,4.12,70.0,75.0,1677760668
4,Clouds,broken clouds,280.95,10000.0,4.12,70.0,75.0,1677760970

In [7]:
# Round these off so date time is to the nearest hour.
dfw['datetime'] = pd.to_datetime(dfw['datetime'], unit = 's')
dfw['datetime'] = dfw['datetime'].dt.floor('H')
dfw.head()

dfa['datetime'] = pd.to_datetime(dfw['datetime'], unit = 's')
dfa['datetime'] = dfa['datetime'].dt.floor('H')
dfa.head()

   number  available_bikes  available_bike_stands status            datetime
0      42                8                     22   OPEN 2023-03-02 12:00:00
1      30                2                     18   OPEN 2023-03-02 12:00:00
2      54               14                     18   OPEN 2023-03-02 12:00:00
3     108               18                     17   OPEN 2023-03-02 12:00:00
4      20               22                      8   OPEN 2023-03-02 12:00:00

In [8]:
# merge the two dataframes on the common column "key"
df = pd.merge(dfa, dfw, on='datetime')
df.head()

,number,available_bikes,available_bike_stands,status,datetime,main,description,temp,visibility,wind_speed,wind_direction,clouds
0,42,8,22,OPEN,2023-03-02 12:00:00,Clouds,broken clouds,280.72,10000.0,4.12,70.0,75.0
1,42,8,22,OPEN,2023-03-02 12:00:00,Clouds,broken clouds,280.72,10000.0,4.12,70.0,75.0
2,42,8,22,OPEN,2023-03-02 12:00:00,Clouds,broken clouds,280.72,10000.0,4.12,70.0,75.0
3,42,8,22,OPEN,2023-03-02 12:00:00,Clouds,broken clouds,280.95,10000.0,4.12,70.0,75.0
4,42,8,22,OPEN,2023-03-02 12:00:00,Clouds,broken clouds,280.95,10000.0,4.12,70.0,75.0

In [9]:
# Add a column for the day of the week (0=Monday, 6=Sunday)
df['dayofweek'] = df['datetime'].dt.dayofweek

# Change day of the week to weekday or weekend
df['weekday_or_weekend'] = df['dayofweek'].apply(lambda x: 'weekday' if x < 5 else 'weekend')
df = df.drop('dayofweek', axis=1)
# Add a column for the hour of the day (0-23)
df['hour'] = df['datetime'].dt.hour
df = df.drop(['datetime', 'status'], axis = 1)

# saving copy to test features on different models
dfc = df
df.head()

,number,available_bikes,available_bike_stands,main,description,temp,visibility,wind_speed,wind_direction,clouds,weekday_or_weekend,hour
0,42,8,22,Clouds,broken clouds,280.72,10000.0,4.12,70.0,75.0,weekday,12
1,42,8,22,Clouds,broken clouds,280.72,10000.0,4.12,70.0,75.0,weekday,12
2,42,8,22,Clouds,broken clouds,280.72,10000.0,4.12,70.0,75.0,weekday,12
3,42,8,22,Clouds,broken clouds,280.95,10000.0,4.12,70.0,75.0,weekday,12
4,42,8,22,Clouds,broken clouds,280.95,10000.0,4.12,70.0,75.0,weekday,12

In [10]:
df = pd.get_dummies(df, columns=['main', 'description', 'weekday_or_weekend'])
df.head()

,number,available_bikes,available_bike_stands,temp,visibility,wind_speed,wind_direction,clouds,hour,main_Clear,...,description_mist,description_moderate rain,description_overcast clouds,description_ragged shower rain,description_scattered clouds,description_shower rain,description_sleet,description_snow,weekday_or_weekend_weekday,weekday_or_weekend_weekend
0,42,8,22,280.72,10000.0,4.12,70.0,75.0,12,0,...,0,0,0,0,0,0,0,0,1,0
1,42,8,22,280.72,10000.0,4.12,70.0,75.0,12,0,...,0,0,0,0,0,0,0,0,1,0
2,42,8,22,280.72,10000.0,4.12,70.0,75.0,12,0,...,0,0,0,0,0,0,0,0,1,0
3,42,8,22,280.95,10000.0,4.12,70.0,75.0,12,0,...,0,0,0,0,0,0,0,0,1,0
4,42,8,22,280.95,10000.0,4.12,70.0,75.0,12,0,...,0,0,0,0,0,0,0,0,1,0

In [11]:
# Split data into training and testing data
X = df.drop(['available_bikes', 'available_bike_stands'], axis = 1)
y = df['available_bikes']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

### Logistic Regression Model

In [12]:
# create and fit the model
model = LogisticRegression()
model.fit(X_train, y_train)

# make predictions
y_pred = model.predict(X_test)

# Calculate root mean squared error (RMSE)
rmse = mean_squared_error(y_test, y_pred, squared=False)

print("Root Mean Squared Error (RMSE):", rmse)

# Calculate R-squared score
r2 = r2_score(y_test, y_pred)
print("R-squared score:", r2)

print("Mean absolute error:", mean_absolute_error(y_test, y_pred))

Root Mean Squared Error (RMSE): 14.49358656257813
R-squared score: -1.3220515906023698
Mean absolute error: 10.979228295819937

/Users/josephtummon/mambaforge/envs/comp30380/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

### Linear Regression Model

In [13]:
# create and fit the model
model = LinearRegression()
model.fit(X_train, y_train)

# make predictions
y_pred = model.predict(X_test)

# Calculate root mean squared error (RMSE)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error (RMSE):", rmse)

# Calculate R-squared score
r2 = r2_score(y_test, y_pred)
print("R-squared score:", r2)

# Calculate mean square error
print("Mean absolute error:", mean_absolute_error(y_test, y_pred))

Root Mean Squared Error (RMSE): 9.505997688090114
R-squared score: 0.0011148979646777857
Mean absolute error: 7.734320338951472

### Linear Regression Model

In [14]:
# create and fit the model
model = LinearRegression()
model.fit(X_train, y_train)

# make predictions
y_pred = model.predict(X_test)

# Calculate root mean squared error (RMSE)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error (RMSE):", rmse)

# Calculate R-squared score
r2 = r2_score(y_test, y_pred)
print("R-squared score:", r2)

# Calculate mean square error
print("Mean absolute error:", mean_absolute_error(y_test, y_pred))

Root Mean Squared Error (RMSE): 9.505997688090114
R-squared score: 0.0011148979646777857
Mean absolute error: 7.734320338951472

### Random Forest Regressor

In [16]:
# Create a random forest regressor with 100 trees
model = RandomForestRegressor(n_estimators = 100, random_state = 36)
model.fit(X_train, y_train)

# make predictions
y_pred = model.predict(X_test)

# Calculate root mean squared error (RMSE)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error (RMSE):", rmse)

# Calculate R-squared score
r2 = r2_score(y_test, y_pred)
print("R-squared score:", r2)

# Calculate mean square error
print("Mean absolute error:", mean_absolute_error(y_test, y_pred))
print(y_pred)

Root Mean Squared Error (RMSE): 1.347054250704416
R-squared score: 0.9799418765212331
Mean absolute error: 0.4097829581993569
[10.   27.    7.85 ...  8.2   7.14  3.09]

### SGD Regressor

In [17]:
# create and fit the model
model = SGDRegressor()
model.fit(X_train, y_train)

# make predictions
y_pred = model.predict(X_test)

# Calculate root mean squared error (RMSE)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error (RMSE):", rmse)

# Calculate R-squared score
r2 = r2_score(y_test, y_pred)
print("R-squared score:", r2)

# Calculate mean square error
print("Mean absolute error:", mean_absolute_error(y_test, y_pred))

Root Mean Squared Error (RMSE): 5333824287089112.0
R-squared score: -3.144832625262381e+29
Mean absolute error: 5256566809342748.0

Getting best results for Random Forest Regression, will test this with different values to see can I improve or get similar results with less features.
### Removing Main weather and description

In [19]:
# Taking copy dfc I save earlier 
df = dfc
# Will test dropping main weather description
df = df.drop(['main', 'description'], axis = 1)
df = pd.get_dummies(df, columns=['weekday_or_weekend'])
X = df.drop(['available_bikes', 'available_bike_stands'], axis = 1)
y = df['available_bikes']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

# create and fit the model
model = RandomForestRegressor(n_estimators = 100, random_state = 36)
model.fit(X_train, y_train)

# make predictions
y_pred = model.predict(X_test)

# Calculate root mean squared error (RMSE)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error (RMSE):", rmse)

# Calculate R-squared score
r2 = r2_score(y_test, y_pred)
print("R-squared score:", r2)

# Calculate mean square error
print("Mean absolute error:", mean_absolute_error(y_test, y_pred))

Root Mean Squared Error (RMSE): 1.2904523434841981
R-squared score: 0.9815921075411432
Mean absolute error: 0.3848659163987138

This seems to actually have imporved the model, I will now see what it is like with temperature also removed

In [ ]:
# Taking copy dfc I save earlier 
df = dfc
# Will test dropping main weather description
df = df.drop(['main', 'description', 'temp'], axis = 1)
df = pd.get_dummies(df, columns=['weekday_or_weekend'])
X = df.drop(['available_bikes', 'available_bike_stands'], axis = 1)
y = df['available_bikes']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

# create and fit the model
model = RandomForestRegressor(n_estimators = 100, random_state = 36)
model.fit(X_train, y_train)

# make predictions
y_pred = model.predict(X_test)

# Calculate root mean squared error (RMSE)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error (RMSE):", rmse)

# Calculate R-squared score
r2 = r2_score(y_test, y_pred)
print("R-squared score:", r2)

# Calculate mean square error
print("Mean absolute error:", mean_absolute_error(y_test, y_pred))

Here we see a an increase in our mean square error so I will keep temp in.
Going to try and remove visibility next